This is a test ||| Ceci est un test ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
This is a test ||| Ceci est un test ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
The relevance of this phrase is low ||| La significancitude de cette phrase est toute toute (toute) petite ||| blabla ||| foo bar ||| probas probas
This is a test ||| Ce truc est un test ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
This is a test ||| Ce truc est un test ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
This is a test ||| Ceci est un test ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
This is a test but it is longer ||| Ceci est un test mais il est plus long ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
This is not a test ||| ahahahah ||| this phrase sucks ||| cette phrase suce ||| probaaaaaaaaas FTW (BAYESIAN FTW)
This is __not__ a test ||| Ce n'est __pas__ un test ||| align ||| alignement ||| and some probabilities, that should be rewritten
This is a test ||| Ceci est un test ||| there some alignments ||| ici certains alignements ||| and some probabilities, that should be rewritten
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
I don't understand why you are so lame ||| Je ne comprends pas pourquoi tu es autant comme un lama ||| bleh ||| blah ||| probas probas
